doctype html
head
  meta(charset='UTF-8')
  title Login site
  h1 Login to google account:
  p
    | First Name: 
    input(type='text' name='first_name')
  p
    | Last Name: 
    input(type='text' name='last_name')
  a(href='/auth/google') Login